* {
	font-size:1em;
	font-family: Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif;
}

table.bottom-space {
	border-collapse:separate; 
	border-spacing:1em;
	font-size:1em;
}

.error-message {
	font-style:italic;
	font-size:1em;
	color:red;
	display: none;
	margin: 0.5em;
}

.rounded-border {
	border: 2px solid;
	border-radius: 0.5em;
}

.ss-selection-div {
	padding: 0.5em;
}

.selection-ul {
	list-style-type: none; 
}

.selection-ul li {
	border: 1px solid #ccc;
	margin: 3px 0px; 
	padding: 5px; 
}

.selected-li {
	background-color: #ccc;
}

.dropdown-ul {
	list-style-type: none; 
}

.unselected-li {
	background-color: transparent;
}

#ss-time-div select {
    background: transparent;
    width: 6.25em;
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 2.125em;
}

/* disable dropdown list default style */
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* for IE 11 */
select::-ms-expand { 
    display: none;
}

input {
	height: 2.125em;
}

.clickable {
	cursor: pointer;
}

.fakelink {
	text-decoration: underline;
	color: blue;
	font-style: italic;
}

.login-form-item {
	margin: 0.5em auto 0.5em auto;
}

.login-body {
	margin-top: 2em;
	height: 20em;
	left: 0;
	width: 100%;
}

.horizontal-center {
	width: 15em;
	margin-left: auto;
	margin-right: auto;
}

.admin-page-modal {
	left: 0;
	width: 100%;
}

.text-manage-section {
	margin: 1em;
	padding: 0.25em;
	width: 40em;
}

.text-manage-section-header {
	padding: 0.25em 0.25em 0 1.25em;
	text-align: left;
}

.text-manage-section-content {
	padding: 1em;
}

.text-manage-section-content .button-wrap {
	padding: 0 0 1em 0;
}

.text-manage-submit {
	float: left;
}

.list-contact-table {
	border: 1px solid black;
}

.list-contact-table th{
	border: 1px solid black;
	width: 10em;
	text-align: center;
	padding: 0.4em;
}

.list-contact-table td{
	border: 1px solid black;
	text-align: left;
	padding: 0.4em;
}

.display-message-div {
	text-align: left;
	margin: 0.5em 0.5em 0.5em 0;
}

.delete-message-div {
	text-align: left;
}

.display-area-div, .add-area-div {
	text-align: left;
}

.area-edit-div textarea, .area-area-textarea-div textarea {
	width: 30em;
    height: 12em;
}

.edit-area-submit-div button，.add-area-submit-div button {
	margin: 0.5em 0.5em 0.5em 0;
}

.area-detail-div div {
	padding-bottom: 0.5em; 
}
