* {
	font-size:1em;
	font-family: Georgia, "Times New Roman", 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif;
}

table.bottom-space {
	border-collapse:separate; 
	border-spacing:1em;
	font-size:1em;
}

.error-message {
	font-style:italic;
	font-size:1em;
	color:red;
	display: none;
	margin: 0.5em;
}

.rounded-border {
	border: 2px solid;
	border-radius: 0.5em;
}

.ss-selection-div {
	padding: 0.5em;
}

.selection-ul {
	list-style-type: none; 
}

.selection-ul li {
	border: 1px solid #ccc;
	margin: 3px 0px; 
	padding: 5px; 
}

.selected-li {
	background-color: #ccc;
}

.dropdown-ul {
	list-style-type: none; 
}

.unselected-li {
	background-color: transparent;
}

#ss-time-div select {
    background: transparent;
    width: 6.25em;
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    height: 2.125em;
}

/* disable dropdown list default style */
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* for IE 11 */
select::-ms-expand { 
    display: none;
}

input {
	height: 2.125em;
}

.clickable {
	cursor: pointer;
}

.fakelink {
	text-decoration: underline;
	color: blue;
	font-style: italic;
}

.login-form-item {
	margin: 0.5em auto 0.5em auto;
}

.login-body {
	margin-top: 2em;
	height: 20em;
	left: 0;
	width: 100%;
}

.horizontal-center {
	width: 15em;
	margin-left: auto;
	margin-right: auto;
}
